.block-list{
	.container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	&__p{
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
		color: #424242;
		font-size: 1.8rem;
		line-height: 3rem;
		padding-bottom: 3rem;
	}
	&__list{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 26%;
		        flex: 1 1 26%;
		li{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			color: #424242;
			font-size: 1.6rem;
			border-bottom: 0.1rem solid #b6b6b7;
			padding: 0.9rem 0 0.84rem 0;
		}
	}
	span{
			padding-left: 0.8rem;
			text-align: right;
	}
	b{
		font-family: $font-bold;
		font-weight: normal;
	}
	.locked{
		color: #ff9600;
	}
	.li-color{
		color: #000;
	}
	.column{
	  -webkit-columns: 2;
	  -moz-columns: 2;
	  columns: 2;
	  border-bottom: 0.1rem solid #b6b6b7;
	  margin-bottom: 8rem;
	  li{
		font-size: 1.8rem;
		border-bottom: none;
		&:nth-child(n+3){
			padding-left: 0.5rem;
		}
	  }
	}
	&__img{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 26%;
		        flex: 1 1 26%;
		background: url(../img/property-overview.jpg) center center no-repeat;
		background-size: cover;
		margin: 0 1rem 0 2rem;
		width: 30rem;
		min-height: 40.5rem;
		height: auto;
	}
	&__map{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 26%;
		        flex: 1 1 26%;
		width: 400px;
		height: 405px;
		overflow: hidden;
		iframe{
			margin-top:-70px; 
			margin-left:-336px; 
			width: 800px;
			height: 600px;
		}
	}
	&__left{
		border-right: 0.1rem solid #c9c9c9;
		padding-right: 2.8rem;
		width: 55%;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		        span{
		        	padding-left: 0.2rem;
		        }
	}
	&__right{
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		position: relative;
		padding-left: 2.8rem;
		width: 45%;
		min-height: 49rem;
		height: 100%;
		&-img{
			position: absolute;
			bottom: 0;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	.equal-parts{
		width: 50%;
		min-height: auto;
	}

	&__name{
		font: 1.6rem $font-bold;

	}
	table{
		border-collapse: collapse;
		width: 100%;
		thead{
			outline: 0.2rem solid #cdeaf3;
			background: #e2f5fb;
			th{
				padding: 2.2rem 0.5rem;
				color: #000f38;
				font-family: $font-bold;
				font-weight: normal;
				text-align: left;
			}
		}
		th, td{
			font-size: 1.6rem;
			line-height: 1.8rem;
		}
		td{
			color: #424242;
			border-bottom: 0.1rem solid #b6b6b7;
		}
		tr:first-child td{
			padding-top: 4rem;
		}
		tr td:first-child{
			padding-right: 5rem;
			padding-left: 0.5rem;
			white-space: nowrap;
		}
		tr td:nth-child(2){
			padding-right: 8rem;
			padding-left: 0.5rem;
			white-space: nowrap;
		}
	}
	&__table-td{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 2rem;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		 @extend thead;
		p{
			color: #424242;
			@extend .block-list__p;
			padding-right: 6.5rem;
			padding-top: 3rem;
			b{
				color: #000;
				font-family: $font-bold;
				font-weight: normal;
			}
		}	
		a{
			display: block;
			padding: 1.5rem 0;
			max-width: 18.7rem;
			width: 100%;
			text-align: center;
			background: #ffa800;
			font-size: 2.4rem;
			color :#fff;
			line-height: 3rem;
			&:hover{
				opacity: 0.7;
			}
		}
	}

}
.block-list-center{
	.container{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
@media screen and (max-width: 992px){
.block-list{
	&__left,
	&__right{
		width: 50%,
	}


	&__table-td{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		p{
			padding-right: 0;
		}
		a{
			margin:0 auto 3rem;
		}
	}
	table tr{
		td:nth-child(2){
			padding-right: 3rem;
		}
		td:first-child{
			padding-right: 2rem;
		}
	} 
}
}
@media screen and (max-width: 768px){
.block-list{
	.container{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	&__list{
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
		padding-bottom: 4rem;
	}
	&__img{
		-webkit-box-flex: 1;
		    -ms-flex: 1 34%;
		        flex: 1 34%;
		margin-left: 0;
	}
	&__map{
		-webkit-box-flex: 1;
		    -ms-flex: 1 34%;
		        flex: 1 34%;
	}
	&__left,
	&__right,
	.equal-parts{
		width: 100%;
		padding: 0;
		border-right: none;
	}
	&__right{
		min-height: auto;
		&-img{
			position: static;
		}
	}
	&__name{
		padding-bottom: 2rem;
	}
	&__map iframe{
		width: 819px;
	}

	table tr{
		td:nth-child(2){
			white-space: normal;
		}
		td:first-child{
			white-space: normal;
		}
		&:first-child td{
			padding-top: 2rem;
		} 
	}
	&__table-td{
		p{
			font-size: 1.6rem;
			line-height: 2.2rem;
			padding-bottom: 2rem;
		}
		a{
			line-height: 2rem;
			font-size: 2rem;
			max-width: 15.7rem;
		}
	} 
}
}
@media screen and (max-width: 576px){
.block-list{
	&__img{
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
		margin-right: 0;
		min-height: 25.9rem;
	}
	&__map{
		-webkit-box-flex:1;
		    -ms-flex:1 100%;
		        flex:1 100%;
	}
	.column{
		-webkit-columns: 1;
		   -moz-columns: 1;
		        columns: 1;
	}

	table{
		 thead th,
		 &__table-td th,
		 td{
			font-size: 1.2rem;
			line-height: 1.2rem;
		 }
	}
	&__table-td p{
		font-size: 1.4rem;
	}
}
}

@media screen and (max-width: 470px){
.block-list{
	table{
		tr{
			td:nth-child(2){
				padding-right: 0.5rem;
			}
			td:first-child{
				padding-right: 0.5rem;
			}
		} 
		th{
			word-break: break-word;
		}
		table td{
			line-height: 1.2rem;
		}
	}
	&__table-td{
		padding: 0 1.5rem;
		p{
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
		a{
			font-size: 1.4rem;
		}
	}
}
}