@font-face {font-family: "HelveticaNeueCyr-Roman";
    font-display: swap;
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: "HelveticaNeueBold";
    font-display: swap;
    src: url("../fonts/HelveticaNeueCyr-Bold.eot");
    src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



@font-face {
  font-family: "HelveticaNeue-Thin3";
  display: swap;
  src: url("../fonts/HelveticaNeue-Thin3.eot");
  src: url("../fonts/HelveticaNeue-Thin3.woff") format("woff"),
       url("../fonts/HelveticaNeue-Thin3.ttf") format("truetype"),
       url("../fonts/HelveticaNeue-Thin3.svg#HelveticaNeue-Thin") format("svg"),
       url("../fonts/HelveticaNeue-Thin3.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}




$font1: "HelveticaNeueCyr-Roman", sans-serif;
$font2: "HelveticaNeue-Thin3", sans-serif;
$font-bold: "HelveticaNeueBold", sans-serif;